

# App
APP_PORT=
APP_ENV=

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# RabbitMQ (for message queue)
RABBITMQ_URL=

# MinIO
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_USE_SSL=
MINIO_BUCKET=

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_EXPIRY=

# FastAPI
AI_SERVICE_URL = 
